VENUS_IMX214_SUNNY=/system/etc/camera/bshutter/imx214/
VENUS_IMX214_OFILM=/system/etc/camera/bshutter/imx214/
VENUS_IMX214_FOXCONN=/system/etc/camera/bshutter/imx214/
NEMO_OV13850_LITEON=/system/etc/camera/bshutter/ov13850/
NEMO_OV13850_OFILM=/system/etc/camera/bshutter/ov13850/
NEMO_AR1335_SUNNY=/system/etc/camera/bshutter/ar1335/
