HI843=/system/etc/camera/hwscope/hi843/
OV8856=/system/etc/camera/hwscope/ov8856/
IMX214_SUNNY=/system/etc/camera/hwscope/imx214_sunny/
IMX214_FOXCONN=/system/etc/camera/hwscope/imx214_foxconn/
T4KA3=/system/etc/camera/hwscope/t4ka3/
VENUS_IMX214_SUNNY=/system/etc/camera/hwscope/imx214/
VENUS_IMX214_OFILM=/system/etc/camera/hwscope/imx214/
VENUS_IMX214_FOXCONN=/system/etc/camera/hwscope/imx214/
VENUS_OV8856_SUNNY=/system/etc/camera/hwscope/ov8856/
VENUS_IMX219_LITEON=/system/etc/camera/hwscope/imx219/
VENUS_HI843_OFILM=/system/etc/camera/hwscope/hi843/
NEMO_OV13850_LITEON=/system/etc/camera/hwscope/ov13850/
NEMO_OV13850_OFILM=/system/etc/camera/hwscope/ov13850/
NEMO_AR1335_SUNNY=/system/etc/camera/hwscope/ar1335/
NEMO_OV8856_SUNNY=/system/etc/camera/hwscope/ov8856/
NEMO_IMX219_LITEON=/system/etc/camera/hwscope/imx219/
NEMO_HI843_OFILM=/system/etc/camera/hwscope/hi843/