VENUS_IMX214_SUNNY=/system/etc/camera/tornado/imx214/
VENUS_IMX214_OFILM=/system/etc/camera/tornado/imx214/
VENUS_IMX214_FOXCONN=/system/etc/camera/tornado/imx214/
VENUS_OV8856_SUNNY=/system/etc/camera/tornado/ov8856/
VENUS_IMX219_LITEON=/system/etc/camera/tornado/imx219/
VENUS_HI843_OFILM=/system/etc/camera/tornado/hi843/
NEMO_OV13850_LITEON=/system/etc/camera/tornado/ov13850/
NEMO_OV13850_OFILM=/system/etc/camera/tornado/ov13850/
NEMO_AR1335_SUNNY=/system/etc/camera/tornado/ar1335/
NEMO_OV8856_SUNNY=/system/etc/camera/tornado/ov8856/
NEMO_IMX219_LITEON=/system/etc/camera/tornado/imx219/
NEMO_HI843_OFILM=/system/etc/camera/tornado/hi843/
