VENUS_IMX214_SUNNY=/system/etc/camera/mmi7cm/venus_imx214_sunny/
VENUS_IMX214_OFILM=/system/etc/camera/mmi7cm/venus_imx214_ofilm/
VENUS_IMX214_FOXCONN=/system/etc/camera/mmi7cm/venus_imx214_foxconn/
NEMO_OV13850_LITEON=/system/etc/camera/mmi7cm/nemo_ov13850_liteon/
NEMO_OV13850_OFILM=/system/etc/camera/mmi7cm/nemo_ov13850_ofilm/
NEMO_AR1335_SUNNY=/system/etc/camera/mmi7cm/nemo_ar1335_sunny/
